In [1]:
import pandas as pd
df_train = pd.read_csv("data/titanic_train.csv")
df_test = pd.read_csv("data/titanic_test.csv")

In [ ]:
df_train.info()  #916

In [3]:
df_test.info() #393

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 393 entries, 0 to 392
Data columns (total 13 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   pclass     393 non-null    int64
 1   survived   393 non-null    int64
 2   name       393 non-null    object
 3   sex        393 non-null    object
 4   age        305 non-null    float64
 5   sibsp      393 non-null    int64
 6   parch      393 non-null    int64
 7   ticket     393 non-null    object
 8   fare       393 non-null    float64
 9   cabin      81 non-null     object
 10  embarked   393 non-null    object
 11  body       36 non-null     float64
 12  home.dest  218 non-null    object
dtypes: float64(3), int64(4), object(6)
memory usage: 40.0+ KB

In [ ]:
#df_train 데이터에서 생존여부를 그래프로 출력하기
df_train["survived"].value_counts().plot.bar()
df_train["survived"].value_counts()

In [ ]:
df_train["survived"].value_counts().plot(kind="bar")

In [8]:
#좌석등급(pclass)별 생존여부(survived) 조회하기
df_train[["pclass","survived"]].value_counts()
df_train.groupby("pclass")["survived"].value_counts()

pclass  survived
1       1           142
        0            88
2       0           106
        1            82
3       0           369
        1           129
Name: count, dtype: int64

In [ ]:
#좌석등급(pclass)별 생존여부(survived) 정렬하여 조회하기
#df_train[["pclass","survived"]].value_counts().sort_index()
df_train.groupby("pclass")["survived"].value_counts().sort_index()

In [ ]:
df_train.groupby("pclass")["survived"].value_counts().sort_index().\
    plot(kind="bar")

In [ ]:
import seaborn as sns
#countplot : pclass의 값의 빈도값을 y축의 값으로 설정
#sns.countplot(x="pclass",data=df_train)
#hue="survived" : survived 컬럼으로 분리한 건수 y축의값으로 설정
sns.countplot(x="pclass",hue="survived",data=df_train)

In [ ]:
df_train.info()

In [16]:
#1. age 결측값을 df_train 평균값으로 df_train,df_test 변경하기
age_mean = df_train["age"].mean()
df_train["age"] = df_train["age"].fillna(age_mean)
df_test["age"] = df_test["age"].fillna(age_mean)

In [ ]:
df_train.info()
#df_test.info()

In [20]:
#2. embarked 컬럼의 결측값을 최빈값을 변경하기
embarked_freq = df_train["embarked"].value_counts().idxmax()
df_train["embarked"] = df_train["embarked"].fillna(embarked_freq)
df_test["embarked"] = df_test["embarked"].fillna(embarked_freq)

    titanic 속성
pclass : Passenger Class, 승객 등급
survived : 생존 여부
name : 승객 이름
sex : 승객 성별
age : 승객 나이
sibsp : 탑승 한 형제/배우자 수
parch : 탑승 한 부모/자녀 수
ticket : 티켓 번호
fare : 승객 지불 요금
cabin : 선실 이름
embarked : 승선항 (C = 쉘 부르그, Q = 퀸즈타운, S = 사우스 햄튼)
body : 사망자 확인 번호
home.dest : 고향/목적지

In [23]:
#name,ticket,cabin,body,home.dest 컬럼 제거하기
df_train = df_train.drop(["name","ticket","cabin","body","home.dest"],axis=1)
df_test = df_test.drop(["name","ticket","cabin","body","home.dest"],axis=1)

In [ ]:
#df_train,df_test 데이터를 통합하기
#whole_df = df_train.append(df_test) #
whole_df = pd.concat((df_train,df_test),sort=False)
whole_df.info()
train_num = len(df_train)
train_num  #훈련데이터건수.

In [ ]:
#원핫인코딩
whole_df_encoded = pd.get_dummies(whole_df,dtype="int")
whole_df_encoded.info()

In [35]:
#훈련데이터의 설명변수
x_train = df_train.loc[:,df_train.columns!="survived"].values
#훈련데이터의 목표변수
y_train = df_train["survived"].values

In [38]:
#테스트데이터의 설명변수
x_test = df_test.loc[:,df_test.columns!="survived"].values
#테스트데이터의 목표변수
y_test = df_test["survived"].values

In [ ]:
#로지스틱회귀분석을 이용하여 분류하기
#로지스틱회귀분석 은 0~1사이의 값만 리턴
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression(random_state=0)
lr.fit(x_train,y_train) #학습하기

In [40]:
y_pred = lr.predict(x_test)

In [ ]:
y_pred[:10]

In [ ]:
y_test[:10]

In [43]:
#모델 평가하기
from sklearn.metrics import confusion_matrix
con_mat = confusion_matrix(y_test,y_pred)
con_mat

array([[214,  32],
       [ 48,  99]], dtype=int64)

In [44]:
#2. 정확도, 정밀도,재현율,f1score 출력
from sklearn.metrics import accuracy_score,\
    recall_score,precision_score,f1_score
print("정확도:",accuracy_score(y_test,y_pred))
print("정밀도:",precision_score(y_test,y_pred))
print("재현율:",recall_score(y_test,y_pred))
print("f1-score:",f1_score(y_test,y_pred))

정확도: 0.7964376590330788
정밀도: 0.7557251908396947
재현율: 0.673469387755102
f1-score: 0.7122302158273381

In [45]:
#선실(cabin),이름(name) 컬럼을 추가하여 예측하기
df_train = pd.read_csv("data/titanic_train.csv")
df_test = pd.read_csv("data/titanic_test.csv")

In [46]:
# 1. age 컬럼의 결측값을 
# df_train데이터의 평균값으로 변경하기 (df_train,df_test)
age_mean = df_train["age"].mean()
df_train["age"]=df_train["age"].fillna(age_mean)
df_test["age"]=df_test["age"].fillna(age_mean)

In [47]:
#2. embarked 컬럼의 결측값을 최빈값으로 변경
embarked_freq = df_train["embarked"].value_counts().idxmax()
df_train["embarked"]=df_train["embarked"].fillna(embarked_freq)
df_test["embarked"]=df_test["embarked"].fillna(embarked_freq)

In [ ]:
#df_train,df_test 데이터 합치기
whole_df = pd.concat((df_train,df_test),sort=False)
whole_df.info()

In [ ]:
#cabin 컬럼의 값 조회하기
whole_df["cabin"].unique()

In [58]:
#결측값을 X로 치환하기
whole_df["cabin"] = whole_df["cabin"].fillna("X")
whole_df["cabin"].value_counts()
#G,T데이터를 X로 치환하기
whole_df["cabin"]=whole_df["cabin"].replace({"G":"X","T":"X"})
whole_df["cabin"].value_counts()

cabin
X                  1015
C23 C25 C27           6
B57 B59 B63 B66       5
G6                    5
C22 C26               4
                   ...
B102                  1
C91                   1
D40                   1
B3                    1
F38                   1
Name: count, Length: 186, dtype: int64

In [60]:
grade_dict = {
 "A":["Rev","Col","Major","Dr","Capt","Sir"], #명예직
 "B":["Ms","Mme","Mrs","Dona"],  #여성
 "C":["Jonkheer","the Countess"], #귀족
 "D":["Mr","Don"],               #남성
 "E":["Master"],                 #젊은 남성
 "F":["Miss","Mlle","Lady"]      #젊은 여성
  }

In [61]:
def give_grade(g) :
    #k=F, v=["Miss","Mlle","Lady"]
    for k,v in grade_dict.items() :
        for title in v:
            if g == title :
                return k
    return 'G'

In [62]:
name_grade = \
    list(name_grade.map(lambda x : give_grade(x))) 
whole_df["name"]=name_grade

In [63]:
whole_df_encoded = pd.get_dummies(whole_df)

In [64]:
df_train=whole_df_encoded[:train_num]
df_test=whole_df_encoded[train_num:]

In [65]:
x_train = \
  df_train.loc[:,df_train.columns !='survived'].values
y_train=df_train["survived"].values
x_test = \
  df_test.loc[:,df_test.columns !='survived'].values
y_test=df_test["survived"].values